/* Optionally include this in _app.tsx if you want custom resets or extra styles */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
